.container {
    display: flex;
    max-width: 600px;
    width: 90%;
    justify-content: center;
    margin-bottom: 50px;
}

.textInput{
    max-width: 400px;
    width: 80%;
    height: 30px;
    padding: 5px 30px;
    border-radius: 10px 0 0 10px;
    border: none;
}

.textInput:active, .textInput:focus {
    outline: none;
}

.textButton{
    max-width: 100px;
    width: 20%;
    border-radius: 0 10px 10px 0;
    border: none;
    cursor: pointer;
}


